*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(208deg, 11%, 55%);
}

h1,
h2 {
  color: hsl(192deg, 100%, 9%);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}
.link {
  color: hsl(193deg, 100%, 96%);
  font-size: 2.2rem;
  text-decoration: none;
  transition: all 0.15s ease-out;
}
.link:hover {
  text-decoration: underline;
}
.link__icon:hover {
  color: hsl(322deg, 100%, 66%);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  a {
    font-size: 1.8rem;
  }
}
.btn {
  padding: 1.5rem 7.5rem;
  border-radius: 50px;
  border: none;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: block;
  color: hsl(192deg, 100%, 9%);
}
.btn--primary {
  background-color: hsl(322deg, 100%, 66%);
  color: hsl(193deg, 100%, 96%);
  box-shadow: 0 5px 10px 0 rgba(255, 82, 191, 0.3);
  transition: background-color 0.15s ease-out;
}
.btn--primary:hover {
  background-color: #ff85d2;
}
.btn--white {
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem 2.5rem;
  font-size: 1.3rem;
}
.btn--lg {
  font-size: 1.2rem;
  padding: 1.5rem 6rem;
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 2rem 7rem;
  }
  .btn--white {
    font-size: 1.4rem;
    padding: 1.5rem 7rem;
    transition: color 0.15s ease-out;
  }
  .btn--white:hover {
    color: rgba(0, 37, 46, 0.5);
  }
  .btn--lg {
    font-size: 1.8rem;
    padding: 3rem 11rem;
  }
}
.icon {
  font-size: 2rem;
}
.icon__container {
  width: 4rem;
  height: 4rem;
  border: 2px solid hsl(193deg, 100%, 96%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 50%;
  transition: border-color 0.15s ease-out;
}
.icon__container:hover {
  border-color: hsl(322deg, 100%, 66%);
}

.media {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 5rem;
  padding: 3rem;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  max-width: 1234px;
  margin: 0 auto;
}
.media__container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
  margin-bottom: 30rem;
}
.media__image {
  width: 100%;
  grid-row: 1/2;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 40rem;
}
.media__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .media {
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem;
  }
  .media:nth-of-type(even) .media__image {
    grid-column: 1/2;
    justify-self: start;
    margin-left: 2rem;
  }
  .media__image {
    grid-column: 2/3;
    max-width: 40rem;
    justify-self: end;
  }
  .media__heading {
    align-self: flex-start;
  }
  .media__content {
    text-align: left;
    max-width: 50rem;
    margin-left: 2rem;
  }
}
.logo {
  width: 13rem;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 20rem;
  }
}
.footer {
  position: relative;
  background-color: hsl(192deg, 100%, 9%);
  color: hsl(193deg, 100%, 96%);
  padding: 2rem;
}
.footer__container {
  display: grid;
  gap: 6rem;
  padding: 2rem;
  padding-bottom: 7rem;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: -5rem;
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer .details-container {
  display: flex;
  gap: 2rem;
}
.footer .details-container img {
  align-self: flex-start;
  margin-top: 0.5rem;
  width: 15px;
}
.footer .list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  font-size: 2.2rem;
}
.footer .list__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer .logo {
  width: 20rem;
  margin-bottom: 2rem;
  filter: brightness(0) invert(1);
}
.footer .icons {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}
.footer .icons__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.footer .copyright {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: -15rem;
  }
  .footer .list .link {
    font-size: 1.8rem;
    white-space: nowrap;
  }
  .footer .list__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .footer .icons {
    justify-content: space-between;
  }
  .footer .icons__container {
    margin-top: 7rem;
    align-self: flex-start;
  }
  .footer .logo {
    width: 24rem;
  }
  .footer .copyright {
    align-self: flex-start;
  }
}
.hero {
  background: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsl(193deg, 100%, 96%);
  text-align: center;
  color: hsl(192deg, 100%, 9%);
  margin-bottom: 15rem;
}
.hero__container {
  display: grid;
  padding: 4rem;
  gap: 6rem;
  max-width: 1440px;
  margin: 0 auto;
}
.hero__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.hero__description {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .hero {
    background: url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: hsl(193deg, 100%, 96%);
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
  }
  .hero__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero .btn {
    align-self: flex-start;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem;
}

.cta {
  width: 100%;
  padding: 4rem 2rem;
  position: relative;
  background-color: #fff;
  transform: translateY(-60%);
  margin: 0 auto;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.cta__heading {
  font-size: 2rem;
  text-align: center;
}
.cta .btn {
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .cta {
    gap: 4rem;
    padding: 8rem 10rem;
  }
  .cta__heading {
    font-size: 3.5rem;
  }
}/*# sourceMappingURL=styles.css.map */